@import "tailwindcss";


html, body {
  font-family: 'Sofia Sans', system-ui, -apple-system, sans-serif;
}

@layer base{
  html{
    scrollbar-gutter: stable;
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}